@font-face {

    font-family: 'RobotoMedium';

    src: url('http://iurix.com/resources/natopia-theme/fonts/Roboto-Medium-webfont.eot');

    src: url('http://iurix.com/resources/natopia-theme/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('http://iurix.com/resources/natopia-theme/fonts/Roboto-Medium-webfont.woff') format('woff'), url('http://iurix.com/resources/natopia-theme/fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('http://iurix.com/resources/natopia-theme/fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'RobotoRegular';

    src: url('../../fonts/Roboto-Regular-webfont.eot');

    src: url('../../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'HelveticaNeueLTProRegular';

    src: url('../../fonts/helveticaneue_medium_cond-webfont.eot');

    src: url('../../fonts/helveticaneue_medium_cond-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/helveticaneue_medium_cond-webfont.woff') format('woff'), url('../../fonts/helveticaneue_medium_cond-webfont.ttf') format('truetype'), url('../../fonts/helveticaneue_medium_cond-webfont.svg#HelveticaNeueLTProRegular') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'lucida_sans_unicoderegular';

    src: url('../../fonts/lucida_sans_unicode-webfont.eot');

    src: url('../../fonts/lucida_sans_unicode-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/lucida_sans_unicode-webfont.woff') format('woff'), url('../../fonts/lucida_sans_unicode-webfont.ttf') format('truetype'), url('../../fonts/lucida_sans_unicode-webfont.svg#lucida_sans_unicoderegular') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'helvetica_neueregular';

    src: url('../../fonts/helveticaneue-condensed-webfont.eot');

    src: url('../../fonts/helveticaneue-condensed-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/helveticaneue-condensed-webfont.woff') format('woff'), url('../../fonts/helveticaneue-condensed-webfont.ttf') format('truetype'), url('../../fonts/helveticaneue-condensed-webfont.svg#helvetica_neueregular') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'swis721_lt_btlight';

    src: url('../../fonts/swz721l-webfont.eot');

    src: url('../../fonts/swz721l-webfont.eot?#iefix') format('embedded-opentype'),

         url('../../fonts/swz721l-webfont.woff') format('woff'),

         url('../../fonts/swz721l-webfont.ttf') format('truetype'),

         url('../../fonts/swz721l-webfont.svg#swis721_lt_btlight') format('svg');

    font-weight: normal;

    font-style: normal;



}


body {

    margin:0px;

    padding:0px;

    background:#f2f2f2;

}

.wrapper{

    width:100%;

    margin:0px;

    padding:0px;

}
.headerwrapper {

    min-height: 137px;

    margin:0px;

    padding:0px;

    background:#000; z-index:999; position:relative;

}

.clear {

    clear:both;

}



/*======================

topSection

========================*/

.topsectionWrapper{ background:#353535; border-bottom:1px solid #474747;width:100%;min-height: 33px;}

.topsection{ width:1000px; margin:0 auto;}



.topnav{ list-style:none; margin:10px 0; padding:0; float:left;}

.topnav li {

    float:left;

    margin:0px 0px 0px 9px;

    font-family: 'RobotoRegular';

    color:#a8a8a8;

    font-size:14px;

    letter-spacing:-1px;

    text-transform:uppercase;

}

.topnav li#nmbr a{

    color:#FFF !important;

}

.topnav li a {

    color:#a8a8a8;

    text-decoration:none;

    word-spacing:3px;

}

.topnav ul li a:hover {

    color:#9ad24c;

    text-decoration:none;

}



/*======================

headerSection

========================*/



.header{

    width:1000px;

    padding:10px 0;

    margin:0px auto;

    position:relative;

}

.logo {

    width:113px;

    height:78px;

    position: relative;
   

    /* z-index: 9999999;*/

}

.logo a ,.logo a img{ margin:0; padding:0; border:0;}



.enterkeywords {

    height: 23px;

    position: absolute;

    right: 395px;

    top: 16px;

    width: 234px;

    background:url(../../img/en/search_bg1.png) no-repeat left top;

    

}

.enterkeywords input[type="text"] {

     background: none repeat scroll 0 0 transparent;

    border: medium none;

    color: #3B3B3B;

    float: left;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 12px;

    height: 25px;

    line-height: 24px;

    margin: -2px 6px 0 13px;

    outline: medium none;

    vertical-align: middle;

    width: 187px;

}

.enterkeywords img {

    float:left;

    margin:4px 0px 0px 0px;

}



/*========headerSection  END==============*/
.temNatopia { float:left; padding: 0 70px 0 0; }

.temNatopia img {float:left; padding: 0 7px 0 0;}

.temNatopia .txt { float:left;}

.header {padding:0!important; height: 83px!important;}

.logo{top: -5px;}
