.top {
	width: 100%;
	height: 100%;
	display: table;
}

.top_cell {
	padding: .5rem;
	display: table-cell;
	vertical-align: bottom;
}

.top_logo {
	vertical-align: middle;
}

.top_logo a img {
	width: 40px;
	height: auto;
}

.top_title {
	color: #FFF;
	font-weight: 600;
	text-shadow: 1px 1px 1px black,
		-1px -1px 1px black,
		-1px 1px 1px black,
		1px -1px 1px black;
}

.top_links {
	text-align: right;
}

.top img {
	height: 80px;
	width: auto;
}

.login_form_wrapper {
	display: table;
	text-align: center;
}

.login_form_cell {
	display: table-cell;
	text-align: center;
}