.navbar {
	width: 100%;
	display: table;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	background-color: #404040;
}

.navbar_row {
	display: table-row;
	text-align: center;
}

.navbar_cell {
	display: table-cell;
	vertical-align: middle;
	padding: .1rem;
}

.radio_button {
	margin: .1rem;
}

.radio_button input[type=radio]:not(old){
  width : 0;
  margin : 0;
  padding : 0;
  opacity : 0;
}

.radio_button input[type=radio]:not(old) + label {
	width: 200px;
	height: 24px;
	padding: .15rem;
	display: inline-block;
	font-weight: 600;
	color: #333;
	background-position: center;
	background-repeat: no-repeat;
}

.radio_button input[type=radio]:not(old):checked + label {
	color: #FFF;
}

.radio_button .search_research input[type=radio]:not(old) + label {
	background-image: url('/resources/1c-theme/images/research1.svg');
}

.radio_button .search_research input[type=radio]:not(old):checked + label {
	background-image: url('/resources/1c-theme/images/research1_checked.svg');
}

.radio_button .search_offer input[type=radio]:not(old) + label {
	background-image: url('/resources/1c-theme/images/research2.svg');
}

.radio_button .search_offer input[type=radio]:not(old):checked + label {
	background-image: url('/resources/1c-theme/images/research2_checked.svg');
}

.submit_button {
	margin: 0;
	padding: .15rem;
	width: 100px;
	height: 24px;
	cursor: pointer;
	color: #333;
	font-weight: 600;
	background-image: url('/resources/1c-theme/images/submit.svg');
	background-position: center;
	background-repeat: no-repeat;
}

.submit_button:hover {
	color: #FFF;
	background-image: url('/resources/1c-theme/images/submit_hover.svg');
}