.navbar {
	width: 100%;
	display: table;
	text-align: center;
	vertical-align: middle;
	background-color: #404040;
}

.navbar_cell {
	display: table-cell;
	vertical-align: middle;
	margin: .1rem;
}

.radio_button {
	margin: .15rem;
}

.radio_button input[type=radio]:not(old){
  width : 0;
  margin : 0;
  padding : 0;
  opacity : 0;
}

.radio_button input[type=radio]:not(old) + label {
	width: 4.5em;
	padding: .25rem;
	margin: .15rem;
	display: inline-block;
	background-color: #FFF;
	border: 1px solid #d9d9d9;
	color: #333;
	text-align: center;
}

.radio_button input[type=radio]:not(old) + label:hover {
	border: 1px solid #333 ;
}

.radio_button input[type=radio]:not(old):checked + label {
	color: #FFF;
	background-color: #555;
	border: 1px solid #555;
}

input[type=submit] {
	margin: 0;
}