.sidbar {
	padding: .5rem;
	width: 210px;
	display: table-cell;
	vertical-align: top;
	background-color: #404040;
	border-top: 2px solid #FFF;
}

.sidebar_list {
	margin-left: 0;
	padding-left: 0;
}

.sidebar_list ul {
	list-style: none;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.sidebar_list li {
	color: #FFF;
}

.sidebar_list li li ul {
	margin-left: 1em;
}

.sidebar_list li a {
	color: #FFF;
	font-weight: normal;
}

.sidebar_title {
	font-family: Abel;
	display: block;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.sidebar_title::first-letter {
	display: block;
	font-size: 125%;
}