.match_details {
	width: 100%;
	padding: .5rem;
	margin: .5rem 0;
	display: table;
	background-color: #F0F0F0;
	border-radius: 5px;
}

.match_details_left {
	width: 50%;
	display: table-cell;
	vertical-align: top;
	padding: .5rem;
}

.match_details_right {
	width: 50%;
	display: table-cell;
	vertical-align: top;
	padding: .5rem;
}

.match_details > img {
	width: 100%;
	height: auto;
}

.actions {
	text-align: center;
}

.confirm {
	background-color: #B4FFB4;
}

.ignore {
	background-color: #FFB4B4;
}

.change {
	background-color: #FFFFA8;
}