.sidbar {
	width: 200px;
	display: table-cell;
	vertical-align: top;
	background-color: #f0f0f0;
	border-top: 2px solid #FFF;
}

.treeview a {
	font-weight: normal;
}

.treeview a:hover {
	color: #333;
}
